.message {
  border: 1px solid var(--purple);
  background-color: var(--green);
  color: var(--black);
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.messageUser {
  font-weight: bold;
  color: var(--light-blue);
}