.selectInitialRooms {
  margin-left: 2rem;
}

.initialRoomsForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;

}

.roomsContainer {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.roomCheckboxLabel {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: .5em;
  border-radius: .5em;
  border: 1px solid gray;
  cursor: pointer;
}

.checkboxInput {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
}

.checkboxInput:checked+.roomCheckboxLabel {
  background-color: cornflowerblue;
  color: white;
}

.initialRoomsSubmitButton {
  all: unset;
  width: auto;
  padding: 1em;
  margin-top: 2em;
  border: 1px solid gray;
  border-radius: 0.5rem;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}