.selectRoomSection {
  margin-left: 2em;
}

.roomsContainer {
  display: flex;
  gap: 1em;
}

.roomButton {
  all: unset;
  padding: 1em;
  border: 1px solid gray;
  border-radius: 0.5rem;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}